<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        			<li><a href="/">home</a></li>
	        		<li><a href="/about">about me</a></li>
        			<li><a href="/cv">cv</a></li>
        			<li><a href="/publications">publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:klarnemann@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/klarnemann">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
